body {
    filter: invert(100%);
    background-color: #00000065;
    -webkit-filter: invert(100%);
}

img {
    filter: invert(100%);
    background-color: transparent;
    -webkit-filter: invert(100%);
}