/* cute-font-regular - latin */
@font-face {
    font-family: 'Cute Font';
    font-style: normal;
    font-weight: 400;
    src: local('Cute Font Regular'), local('CuteFont-Regular'),
         url('../font/Cute_font/cute-font-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../font/Cute_font/cute-font-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

#quote-content {
    width: 20%;
    height: auto;
    margin: auto 0;
    padding: 30px;
    background: #2cbeeb79;
    border-radius: 1em;
    font-family: 'Cute Font';
    font-size: 1.9rem;
    text-align: center;
    font-weight: 800;
    z-index: 2;
    color: white;
}

#sfdiv {
    border-radius: 20px;
    color: #e3e3e3;
    transition: transform 0.3s ease-out;
}

#sfdiv:hover {
    border-radius: 0;
}

.gb_Q {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

/* .gb_Q a {
    border-radius: 0.2em;
    background-color: rgba(135, 207, 235, 0.384);
} */

#CToSde {
    color: skyblue;
    font-size: 1.4rem;
}

#CToSde a {
    color: skyblue;
}